.so-widget-sow-slider-default-f02dbc2585b4 .sow-slider-base .sow-slider-pagination li a {
  background: #3f3f3f;
}
.so-widget-sow-slider-default-f02dbc2585b4 .sow-slider-base .sow-slide-nav {
  font-size: 50px;
}
.so-widget-sow-slider-default-f02dbc2585b4 .sow-slider-base .sow-slide-nav a {
  color: #3f3f3f;
}